* {
    color: white;
    padding: 0;
    margin: 0;
    background: black;
}

.nav {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-right: 50px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 70px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

.mb-10{
    margin-bottom: 20px;
}

.text-center{
    text-align: center;
    font-family: sans-serif;
}

.form-input {
    padding: 5px;
    border: none;
    border-bottom: 2px solid rgb(208, 205, 205);
    height: 30px;
    width: 100%;
    font-size: 17px;
}

.form-input:focus {
    outline: none;
}

.mt-20 {
    margin-top: 20px;
}

.ms-10 {
    margin-left: 5px;
}

.ms-30 {
    margin-left: 30px;
}

.body {
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

@media (min-width: 300px) and (max-width:900px) {
    .body {
        border-radius: 10px;
        box-sizing: border-box;
        padding: 15px;
        position: fixed;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }
}

.container {
    background: black;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-center {
    text-align: center !important;
}